{{- "configure terminal\n" -}}
{{- "\n" -}}
{%- for interfaceInfo in interfaces_info -%}
  {%- set interfaceName = interfaceInfo.interfaceName -%}
  {{- ("interface " + interfaceName + "\n") | indent(8, True, False) -}}
  {{- "shutdown\n" | indent(8, True, False) -}}
  {{- "\n" -}}
{%- endfor -%}
{{- "end\n" | indent(8, True, False) -}}
{{- "write memory\n" | indent(8, True, False) -}}
{{- "\n" -}}
{{- "# Verify the interfaces are down\n" | indent(8, True, False) -}}
{{- "\n" -}}
{%- for interfaceInfo in interfaces_info -%}
  {%- set interfaceName = interfaceInfo.interfaceName -%}
  {{- ("show interfaces " + interfaceName + " | no-more\n") | indent(8, True, False) -}}
  {{- "\n" -}}
{%- endfor -%}
